#
# RG-Soft
#
# Сервис юнит для регламента обслуживания баз кластера PG
#
#

[Unit]
Description=Storage for SQL Backup data
Requires=network-online.target
After=network-online.target

[Mount]
What=//nas02/LEGACY/SQLBACKUP
Where=/mnt/nas02
Type=cifs
Options=credentials=/etc/win-credentials,rw,uid=1454697533,gid=1440600513,nofail,_netdev,iocharset=utf8

[Install]
WantedBy=multi-user.target