#
# RG-Soft
#
# Сервис юнит для регламента обслуживания баз кластера PG
#
[Unit]
Description=PG. Copy backup DB daily maintenance schedule service for databases
Wants=pg_backup_copy.timer

[Service]
Type=oneshot
ExecStart=/var/lib/postgresql/pg_scripts/backup_copy_dir_zakupki.sh
