#
# RG-Soft
#
# Тайм юнит бэкапирования баз для регламента обслуживания баз кластера PostgreSQL
#

[Unit]
Description=PG. Backup daily maintenance schedule service for databases

[Timer]
Unit=pg_backup.service
OnCalendar=Mon..Fri *-*-* 05:15:00

[Install]
WantedBy=timers.target
