#
# RG-Soft
#
# Тайм юнит бэкапирования кластера для регламента обслуживания баз кластера PostgreSQL
#

[Unit]
Description=PG. Basebackup weekly maintenance schedule service for databases
Requires=pg_basebackup.service

[Timer]
Unit=pg_basebackup.service
OnCalendar=Sun *-*-* 02:00:00

[Install]
WantedBy=timers.target
