#
# RG-Soft
#
# Сервис юнит для регламента обслуживания баз кластера PG
#
[Unit]
Description=PG. Copy backup DB daily maintenance schedule service for databases
Requires=pg_backup_copy@pawcmfr.service

[Timer]
Unit=pg_backup_copy.service
OnCalendar=Mon..Sat *-*-* 06:00:00

[Install]
WantedBy=timers.target
