#
# RG-Soft
#
# Сервис юнит бэкапирования кластера для регламента обслуживания баз кластера PostgreSQL
#

[Unit]
Description=PG. Basebackup weekly maintenance schedule service for databases
Wants=pg_basebackup.timer

[Service]
Type=oneshot
User=postgres
#ExecStart=/var/lib/postgresql/basebackup_cluster_dbsaler1.sh
ExecStart=/var/lib/postgresql/pg_scripts/basebackup_cluster_5432.sh

[Install]
WantedBy=multi-user.target