#
# RG-Soft
#
# Сервис юнит бэкапирования кластера для регламента обслуживания баз кластера PostgreSQL
#

[Unit]
Description=PG. Basebackup weekly maintenance schedule service for databases
Wants=pg_basebackup.timer

[Service]
Type=oneshot
User=postgres
ExecStart=/var/lib/postgresql/pg_scripts/basebackup_cluster_pawcmfr.sh
ExecStart=/var/lib/postgresql/pg_scripts/basebackup_cluster_slberm.sh
ExecStart=/var/lib/postgresql/pg_scripts/basebackup_cluster_slbsvs_acc.sh

[Install]
WantedBy=multi-user.target