# Сервис юнит для регламента обслуживания баз кластера PG
# RG-Soft
#

[Unit]
Description=PG. Backup DB daily maintenance schedule service for databases

[Timer]
Unit=pg_backup.service
OnCalendar=Mon..Sat *-*-* 02:00:00

[Install]
WantedBy=timers.target
