#
# RG-Soft
#
# Тайм юнит очистки и перепаковки для регламента обслуживания баз кластера PostgreSQL
#

[Unit]
Description=PG. Repack maintenance schedule service for databases

[Timer]
Unit=pg_repack.service
OnCalendar=Mon..Sat *-*-* 01:00:00

[Install]
WantedBy=timers.target
