#
# RG-Soft
#
# Сервис юнит для регламента vacuum еженедельного обслуживания баз кластера PostgreSQL
#

[Unit]
Description=PG. Vacuum weekly maintenance schedule service for databases
Wants=pg_vacuum_weekly.timer

[Service]
Type=oneshot
User=postgres
ExecStart=/var/lib/postgresql/vacuumdb_weekly_pawcmfr.sh
ExecStart=/var/lib/postgresql/vacuumdb_weekly_slberm.sh
ExecStart=/var/lib/postgresql/vacuumdb_weekly_slbsvs_acc.sh

[Install]
WantedBy=multi-user.target