#
# RG-Soft
#
# Сервис юнит для регламента обслуживания баз кластера PostgreSQL
#

[Unit]
Description=PG. Vacuum daily maintenance schedule service for databases
Wants=pg_vacuum_daily.timer

[Service]
Type=oneshot
User=postgres
ExecStart=/var/lib/postgresql/pg_scripts/vacuumdb_1chelper_daily.sh
ExecStart=/var/lib/postgresql/pg_scripts/vacuumdb_slbbilling_daily.sh
ExecStart=/var/lib/postgresql/pg_scripts/vacuumdb_toezgp_daily.sh
ExecStart=/var/lib/postgresql/pg_scripts/vacuumdb_tpm_wo_daily.sh

[Install]
WantedBy=multi-user.target