#
# RG-Soft
#
# Сервис юнит для регламента обслуживания баз кластера PG
#

[Unit]
Description=PG. Vacuum daily maintenance schedule service for databases
Wants=pg_vacuum_daily.timer

[Service]
Type=oneshot
User=postgres
#ExecStart=/var/lib/postgresql/vacuumdb_daily_pawcmfr.sh
#ExecStart=/var/lib/postgresql/vacuumdb_daily_slberm.sh
ExecStart=/var/lib/postgresql/vacuumdb_daily_slbsvs_acc.sh

[Install]
WantedBy=multi-user.target